    $black-bkg: #222222;
    $pink-bkg: #F1E4E6;
    $sales-bkg: #4E4544;
    $pink-color: #F18B99;
    $white-color: #FFFFFF;
    $gray-color: #9F9F9F;
    $gray-color-cart:#575757;

    $desctop-width: 1599px;
    $tablet-width: 767px;
    $mobile-width: 374px;