.footer {

    &__subscribe {
        background-image: url(../img/subscribe.jpg);
        display: flex;
        background-size: 100%;

        @include tablet {
            //background-repeat: no-repeat;
            background-size: 600%;
        }

        @include mobile {
            //background-repeat: no-repeat;
            //background-size: 400%;
        }

    }

    &__subscribe-wrp {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            justify-content: center;
            padding: 0 16px 219px 16px;
        }

        @include mobile {
            padding: 0 16px 219px 16px;
        }
    }

    &__subscribe-img {
        margin-top: 87px;
        margin-bottom: 18px;
        margin-left: 118px;
    }

    &__subscribe-text {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
        margin-bottom: 126px;
        width: 360px;
        text-align: center;
    }

    &__subscribe-italtext {
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    &__subscribe-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
    }

    &__subscribe-subtext {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        padding-bottom: 32px;
        text-transform: uppercase;
    }

    &__subscribe-edibutton {
        display: flex;
    }

    &__subscribe-edit {
        position: relative;
        height: 45px;
        width: 320px;
        border-radius: 0px;
        display: block;
        border-radius: 20px;
        border: 1px solid $white-color;
        text-indent: 16px;
        outline: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    &__subscribe-edit:hover,
    &__subscribe-edit:focus {
        border: 1px solid $pink-color;
    }

    &__subscribe-button {
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        color: $white-color;
        display: block;
        transform: translate(230%, 0%);
    }

    &__subscribe-button:hover+&__subscribe-button-text,
    &__subscribe-button:focus+&__subscribe-button-text {
        color: $black-bkg;
    }

    &__subscribe-button-text {
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: $white-color;
        text-align: center;
        z-index: 1;
        transform: translate(410%, 80%);
    }

    &__subscribe-button-text:focus,
    &__subscribe-button-text:hover {
        color: $black-bkg;
        cursor: pointer;
    }

    &__info {
        background-color: $black-bkg;
    }

    &__info-wrp {
        display: flex;
        align-items: center;
        min-height: 75px;
        justify-content: space-between;

        @include tablet {
            width: 92%;
        }

        @include mobile {
            width: 92%;
        }
    }

    &__info-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__info-list {
        display: flex;
        align-items: center;
    }

    &__info-link:hover &__info-img,
    &__info-link:focus &__info-img {
        fill: $pink-color;
    }

    &__info-img {
        fill: $white-color;
    }
}