.header {
    background-color: $black-bkg;
}

.header__wrp {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    z-index: 2;
    position: absolute;
    min-width: 230px;
    min-height: 765px;
    top: 100%;
    right: 0;
    background: white;
    display: none;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.header__nav-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    padding: 37px 0 0 34px;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__burger {
    border: none;
    background-color: transparent;
}

.header__burger-icon {
    fill: $white-color;
}

.header__burger:hover .header__burger-icon,
.header__burger:focus .header__burger-icon {
    fill: $pink-color;
    cursor: pointer;
}

.header__burger:active .header__burger-icon {
    fill: $white-color;
}

.header__burger:focus+.header__nav {
    display: block;
}

.header__nav:hover {
    display: block;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__search-icon {
    fill: $white-color;
}

.header__search-text {
    margin: 0 0 0 12px;
    border: 2px solid rgba(220, 220, 220, 1);
    font-size: 18px;
    width: 17em;
    height: 36px;
    display: none;
}

.header__search-text:hover,
.header__search-text:focus,
.header__search-text:active {
    border: 3px solid $pink-color;
}

.header__search-icon:hover {
    fill: $pink-color;
    cursor: pointer;
}

.header__search-icon:active {
    fill: $white-color;
}

.header__search-icon:active+.header__search-text {
    display: block;
}

.header__link {
    margin: 0 0 0 32px;
}

.header__person-icon {
    fill: $white-color;
}

.header__person-icon:hover {
    fill: $pink-color;
}

.header__person-icon:active {
    fill: $white-color;
}

.header__basket-icon {
    fill: $white-color;
}

.header__basket-icon:hover {
    fill: $pink-color;
}

.header__basket-icon:active {
    fill: $white-color;
}