.nav-item {

    &__title {
        font-size: 18px;
        font-weight: 400;
        line-height: 17px;
        text-transform: uppercase;
        padding: 24px 0 0 34px;
        color: $pink-color;
    }

    &__item {
        padding: 11px 0 0 55px;
    }

    &__item-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 17px;
        text-transform: capitalize;
        color: $gray-color;
        direction: unset;
        text-decoration: none;
    }

    &__item-title:hover,
    &__item-title:focus {
        color: $pink-color;
    }

    &__item-title:active {
        color: $black-bkg;
    }
}